<div class="container">
	<div class="mainbox">
		<p class="titulo">Transactions</p>
		<div class="totales">
			<ul>
				<li>Deposit: {{ depositos }}</li>
				<li>Withdrawal: {{ retiros }}</li>
				<li>Total: {{ depositos + retiros }}</li>
			</ul>
		</div>
		<div class="loginbox">
			<div class="add-category">
				<div class="add-category-head">
					<button class="btn" (click)="formularioNuevo()">Add new Transaction</button>
					<button class="btn" (click)="listar()">View All Transactions</button>
					<button class="btn" (click)="viewlastday(7)">View last week</button>
					<button class="btn" (click)="viewlastday(31)">View last month</button>
					<button class="btn" (click)="viewlastday(365)">View last year</button>
				</div>
				<div class="add-category-body" [hidden]="crearForm">
				<h4>Nueva transaccion</h4>
					<form (ngSubmit)="nueva(this)">
						<input type="text" name="subject" required autocomplete="off" class="full-width" placeholder="Subject" [(ngModel)]="subject">
						<select required name="categorias" class="full-width" [(ngModel)]="categoryID" >
							<option *ngFor="let cat of categorias" value="{{cat.id}}">{{cat.category}}</option> 
						</select>
						<select required name="tot" class="full-width" [(ngModel)]="tot">
							<option value="deposit">Deposit</option> 
							<option value="withdrawal">Withdrawal</option> 
						</select>
						<input type="number" name="amount" required autocomplete="off" class="full-width" placeholder="amount" [(ngModel)]="amount">
						<input type="submit" name="submit" value="Save" class="btn btn-primary">
					</form>
				</div>
				<hr>
				<div class="add-category-body" [hidden]="actualizaForm">
				<h4>Actualizar transaccion</h4>
					<form (ngSubmit)="actualizar(this)">
						<input type="text" name="id" required class="full-width" readonly [(ngModel)]="transID">
						<input type="text" name="subject" required autocomplete="off" class="full-width" placeholder="Subject" [(ngModel)]="subject">
						<select required name="categorias" class="full-width"  [(ngModel)]="categoryID">
							<option value="{{categoryID}}" selected>{{category}}</option> 
							<option *ngFor="let cat of categorias" value="{{cat.id}}">{{cat.category}}</option> 
						</select>
						<select required name="tot" class="full-width" [(ngModel)]="tot">
							<option value="{{ tot }}" selected>{{ tot }}</option> 
							<option value="deposit">Deposit</option> 
							<option value="withdrawal">Withdrawal</option> 
						</select>
						<input type="number" name="amount" required autocomplete="off" class="full-width" placeholder="amount" [(ngModel)]="amount">
						<input type="submit" name="submit" value="Actualizar" class="btn btn-primary">
					</form>
				</div>
			</div>
			<table>
				<thead>
					<td id="t"><strong (click)="orderedById()">Id</strong></td>
					<td id="t"><strong (click)="orderedBySubject()">Subject</strong></td>
					<td id="t"><strong (click)="orderedByAmount()">Amount</strong></td>
					<td id="t"><strong>Type</strong></td>
					<td id="t" colspan="3"><strong>Options</strong></td>
				</thead>
				<tbody>
					<tr *ngFor="let trans of listado | orderBy: 'id':orderbyid | orderBy: 'subject':orderbysubject | orderBy: 'amount':orderbyamount ">
						<td id="t">{{trans.id }}</td>
						<td id="t">{{trans.subject}}</td>
						<td id="t">{{trans.amount}}</td>
						<td id="t">{{trans.tot}}</td>
						<td id="t" colspan="3">
							
							<button (click)="actualizarNuevo(trans)">
								Editar
							</button>
							<button (click)="eliminar(trans.id)">
								Eliminar
							</button>
						</td>
					</tr>
					<!--  -->
				</tbody>
			</table>
		</div>
	</div>
</div>