<div class="container">
	<div class="mainbox">
		<p class="titulo">Transactions</p>
		<div class="loginbox">
			<button class="btn">Add new Transaction</button>
			<table>
				<thead>
					<td id="t"><strong>Id</strong></td>
					<td id="t"><strong>Subject</strong></td>
					<td id="t"><strong>Amount</strong></td>
					<td id="t"><strong>Type</strong></td>
					<td id="t" colspan="3"><strong>Options</strong></td>
				</thead>
				<tbody>
					<tr *ngFor="let trans of listado">
						<td id="t">{{trans.id}}</td>
						<td id="t">{{trans.category}} -- {{trans.subject}}</td>
						<td id="t">{{trans.amount}}</td>
						<td id="t">{{trans.tot}}</td>
						<td id="t" colspan="3">
							<button>
								Editar
							</button>
							<button (click)="eliminar(trans.id)">
								Eliminar
							</button>
						</td>
					</tr>
					<!--  -->
				</tbody>
			</table>
		</div>
	</div>
</div>