<div class="container">
	<div class="mainbox">
		<p class="titulo">Transactions</p>
		<div class="loginbox">
			<button class="btn">Add new Transaction</button>
			<table>
				<thead>
					<td id="t">Id</td>
					<td id="t">Subject</td>
					<td id="t">Amount</td>
					<td id="t">Type</td>
					<td id="t" colspan="3">Options</td>
				</thead>
				<tbody>
					<tr>
						<td id="t">1</td>
						<td id="t">Nombre de la transaction</td>
						<td id="t">18.94</td>
						<td id="t">Deposit</td>
						<td id="t" colspan="3">
							<button>
								Ver
							</button>
							<button>
								Editar
							</button>
							<button>
								Eliminar
							</button>
						</td>
					</tr>
					<!--  -->
					<tr>
						<td id="t">2</td>
						<td id="t">Este es un Nombre muy largo para mi transaction</td>
						<td id="t">90.32</td>
						<td id="t">Withdrawal</td>
						<td id="t" colspan="3">
							<button>
								Ver
							</button>
							<button>
								Editar
							</button>
							<button>
								Eliminar
							</button>
						</td>
					</tr>
					<!--  -->

				</tbody>
			</table>
		</div>
	</div>
</div>