<div class="container">
	<div class="mainbox">
		<p class="titulo">Categories</p>
		<div class="loginbox">
			<div class="add-category">
				<button class="btn">Add new category</button>
				<form>
					<input type="text" name="category" required autocomplete="off" class="full-width">
					<input type="submit" name="submit" value="Save" class="btn btn-primary">
				</form>
			</div>
			<table>
				<thead>
					<td id="c">Id</td>
					<td id="c">Name</td>
					<td id="c" colspan="3">Options</td>
				</thead>
				<tbody>
					<tr>
						<td id="c">1</td>
						<td id="c" width="280px">Nombre de mi categoria</td>
						<td id="c" colspan="3">
							<button>
								Ver
							</button>
							<button>
								Editar
							</button>
							<button>
								Eliminar
							</button>
						</td>
					</tr>
					<!--  -->
					<tr>
						<td id="c">2</td>
						<td id="c">Este es un Nombre muy largo para mi categoria</td>
						<td id="c" colspan="3">
							<button>
								Ver
							</button>
							<button>
								Editar
							</button>
							<button>
								Eliminar
							</button>
						</td>
					</tr>
					<!--  -->

				</tbody>
			</table>
		</div>
	</div>
</div>