<div class="container">
	<div class="mainbox">
		<p class="titulo">Categories</p>
		<div class="loginbox">
			<div class="add-category">
				<div class="add-category-head">
					<button class="btn" (click)="formularioCrear()">Add new category</button>
				</div>
				<div class="add-category-body" [hidden]="visible">
					<form (ngSubmit)="nueva(this)">
						<input type="text" name="category" required autocomplete="off" class="full-width" [(ngModel)]="categoria">
						<input type="submit" name="submit" value="Save" class="btn btn-primary">
					</form>
				</div>
			</div>
			<table>
				<thead>
					<td id="c">Id</td>
					<td id="c">Name</td>
					<td id="c" colspan="2">Options</td>
				</thead>
				<tbody>
					<tr *ngFor="let categoria of listado">
						<td id="c">{{ categoria.id}}</td>
						<td id="c" width="280px">{{ categoria.category}}</td>
						<td id="c" colspan="2">
							<button (click)="mostrarFormulario(categoria)">
								Editar
							</button>
							<button (click)="eliminar(categoria.id)">
								Eliminar
							</button>
						</td>
					</tr>
					<!--  -->

				</tbody>
			</table>
		</div>
	</div>
</div>