<div class="container">
	<div class="mainbox">
		<p class="titulo">Registro de usuario</p>
		<div class="loginbox">
			<div class="row">
				<span>Name</span>
				<input type="text" name="name" class="full-width" autocomplete="off" required>
			</div>
			<div class="row">
				<span>Email</span>
				<input type="email" name="email" class="full-width" autocomplete="off" required>
			</div>
			<div class="row">
				<span>Password</span>
				<input type="password" name="password" class="full-width" required>
			</div>
			<div class="row">
				<p><input type="button" name="clear" value="Clear" class="btn">
				<input type="submit" name="submit" value="Register me!" class="btn btn-primary"></p>
			</div>
		</div>
		<p class="nota">Ya tienes cuenta? &nbsp;<a [routerLink]=" ['../login'] ">inicia sesion</a></p>
	</div>

</div>