<div class="container">
	<div class="mainbox">
		<p class="titulo">Inicio de sesion</p>
		<form (ngSubmit)="login(this);">
			<div class="loginbox">
				<div class="row">
					<span>Email</span>
					<input type="email" name="email" class="full-width" [(ngModel)]="email" autocomplete="off" required>
				</div>
				<div class="row">
					<span>Password</span>
					<input type="password" name="password" class="full-width" [(ngModel)]="password" required>
				</div>
				<div class="row">
					<button class="btn btn-primary">Loggin me!</button>
				</div>
			</div>
		</form>
		<p class="nota">No tienes cuenta? &nbsp;<a [routerLink]=" ['/register'] ">registrate aqui</a></p>
	</div>

</div>