<div class="container">
	<div class="mainbox">
		<p class="titulo">Expenses Tracker</p>

		<p class="instrucciones">Este sistema es capaz de registrar depositos y/o retiros de dinero y cada transaccion debe ser asignada a una categoria, asi mismo como la manipulacion de categorias y transacciones.</p>

		<p class="instrucciones">Puedes Probarlo,&nbsp;<a [routerLink]=" ['register'] ">registrandote</a>,&nbsp;luego&nbsp;<a [routerLink]=" ['login'] ">Inicia sesion</a>,&nbsp; luego agrega al menos una categoria y finalmente puedes agregar las transacciones.</p>
		
		<p class="instrucciones">Disfrutalo</p>

		<p class="nota">Este sistema es una prueba de desarrollo para pedir mis conocimientos.</p>
	</div>

</div>